<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application.test.sf.newsfproject">
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="se.sfbio.mobile.android" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>

